.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup.visible {
  visibility: visible;
  opacity: 1;
}

.popup-container {
  background-color: #f3f3f3;
  padding: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  max-height: 800px;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
}
.popup__wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.popup__buck {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cart-svg {
  width: 17px;
  height: auto;
  aspect-ratio: 1 / 1;
}
.popup__bill {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.person-svg {
  width: 16px;
  height: 16px;
}

.bill__list {
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  overflow-y: scroll;
}

.bill__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bill__img {
  width: 50px;
  height: auto;
  aspect-ratio: 1 / 1;
}

.bill__name {
}
.bill__count-wrapp {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bill__btn-dec,
.bill__btn-inc {
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 30px;
  height: auto;
  border-radius: 99rem;
  aspect-ratio: 1 / 1;
  font-size: 20px;
}

.bill__btn-dec:hover,
.bill__btn-inc:hover {
  background-color: #fff;
}

.bill__btn-dec:active,
.bill__btn-inc:active {
}

.bill__count {
}
.bill__btn-inc {
}
.btn__delete {
}
.bill__wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.bill__result span {
  font-weight: 700;
}
.bill__btn-order {
  border: none;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 99rem;
  cursor: pointer;
  font-weight: 600;
  color: #000;
}

.bill__btn-order:disabled {
  opacity: 0.1;
  border: 1px solid;
}

.error-text {
  width: 100%;
}

.popup__delete {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 99em;
  padding: 8px;
  cursor: pointer;
}
